## code style, linting, and formatting
reorder-python-imports
black
pylint
## Core libraries
scipy
opencv-python
numpy
tqdm
Pillow
pytesseract
alt-profanity-check
## For creating a web service, profanity_check do not work with fastapi dependencies on 3.12+
pydantic
fastapi
redis
uvicorn
setuptools
requests
python-multipart